body { 
  max-width: 500px;
  margin: 0 auto;
  /* background-color:#FFBFF9; */
  background-image: url("../pawel-czerwinski-d7iIvTyzccY-unsplash.jpg");
  background-size: cover;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100vh;
  background-color:#FE6719;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 2em;
}

#item-label,
#search-label {
  margin-bottom: .5em;
}

input { 
  width: 25vw;
  border: none;
  padding: 1em 0;
  margin-bottom: 1.5em;
}

ul {
  list-style: none;
}

label {
  display: block;
}

.line-through { 
  text-decoration: line-through;
}

.filtered {
  display: none;
}